*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main{
  display: flex;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  height: 300px;
  text-align: center;
}

label{
  display: flex;
  flex-direction: column;
  width: 300px;
  align-items: center;
  margin-bottom: 5px;
}

button{
  
  width: 100px;
}

label span{
  text-align: left;
}
