*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dadosPagina{
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.botao{
  width: 150px;
  display: flex;
  justify-content: center;
  margin-bottom: 400px;
} 